<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;" >
  <div class="my-5 shadow p-3 mb-5 bg-body rounded">
    <h2 class="text-center text-dark mt-5">Welcome to Live Chat</h2>
    <div class="text-center">
      <div class="d-flex justify-content-around">
      <button routerLink="/join-room" type="submit" class="btn btn-primary btn-lg mt-5">Join</button>
      <button routerLink="/log-in" type="submit" class="btn btn-primary btn-lg mt-5">Log In</button>
    </div>
    </div>
      </div>
</div>
